.login-left {
    background-color: #FF8F66;
    opacity: 96%;
    background-image: url('../../../assets/img/side-image.png');
    background-size: contain;
    background-repeat: no-repeat;

    
}

@import "../../../_breakpoints";


.login-right {
    .login-form-wrapper {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .remember-me {
        width: 100%;
        justify-content: space-between;
    }

    .login-btn {
        width: 100% !important;
    }
}

@include xs {
    .login-left {
        display: none;
    }

    .login-right {
        width: 100vw;
        margin-left: 0;
        padding-left: 0;
        padding: 3rem;

        div {
            width: 100%;
        }

        .have-account {
            width: 100%;
        }
    }
}

