$avatar-size: (
xs: 4rem,
sm: 8rem,
md: 10rem,
lg: 14rem,
xl: 18rem
);

@each $k, $v in $avatar-size {
    @if($k == md){
        .avatar{
            width: $v;
            height: $v;
            object-fit: cover;
        }
    }
    .avatar-#{$k}{
        width: $v;
        height: $v;
        object-fit: cover;
    }
}