.widget{
    
    border: 1px solid black;
    border-color: #999999;
    border-radius: 8px;
    height: 496px;
    width: 517px;
    position: relative;

    h2{
        margin: 20px;
        font-size: 20px;
        font-weight: 700;
        font: manrope;
        color: #999999;
    }

.wrapper{
    position: absolute;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    align-content: space-evenly;
    height: 314px;
    width: 417px;
    font-size: 16px;

    .comment{
     margin-bottom: auto;

     p{
        margin-bottom: 10px;
     }


    .button{
        align-content: space-between ;

        button{
            width: 119px;
            height: 38px;
            border-radius: 8px;
            background-color: #3FA30240;
            margin-right: 20px;
            border: none;
    }    

    .info{
        margin-left: 20px; 
        background-color:transparent;
        border: 1px solid #999999;
    }    
    
     }   
    }
}

.viewMore{
    border-top: 1px solid black;
    border-radius: 8px;
    border-color: #999999;
    margin-top: 400px;
   
    p{
        text-align: center;
        padding:10px;
    }
   }

}