.balance {
  height: -moz-fit-content;
  height: fit-content;
  width: 36.6rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.balance .mainBalance {
  position: relative;
  height: 22.8rem;
  background-color: #FFE7D6;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
}
.balance .mainBalance .btn-add-money {
  width: 100%;
}
.balance .mainBalance .left {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.balance .mainBalance .left h2 {
  font-size: 3.2rem;
  font-weight: normal;
  margin-top: 2rem;
}
.balance .mainBalance .left p {
  font-size: 1.6rem;
}
.balance .mainBalance .right {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}
.balance .details {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  justify-content: space-between;
}
.balance .details .withdrawn, .balance .details .pending {
  display: flex;
  background-color: #F0F0F0;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  align-items: center;
}
.balance .details .withdrawn p, .balance .details .pending p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #929191;
}
.balance .details .withdrawn h2, .balance .details .pending h2 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #212121;
}
.balance .details .withdrawn .left, .balance .details .pending .left {
  align-items: flex-start;
  display: flex;
}
.balance .details .withdrawn .left svg, .balance .details .pending .left svg {
  width: 70%;
}
.balance .details .withdrawn .left.icon, .balance .details .pending .left.icon {
  color: #DF4309;
}
.balance .details .withdrawn .right, .balance .details .pending .right {
  align-items: start;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}

.modal_content_wrapper .modal_title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal_content_wrapper .modal_title p {
  font-size: 1.4rem;
  font-weight: 600;
}
.modal_content_wrapper .modal_title small {
  font-size: 1.2rem;
  font-weight: 400;
  color: #929191;
}
.modal_content_wrapper .payment_details {
  background: #FFFFFF;
  padding: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 22px rgba(208, 213, 221, 0.25);
  border-radius: 16px;
}
.modal_content_wrapper .payment_details .note {
  background: #FFF6ED;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0.8rem 2rem;
  color: #EA872D;
}
.modal_content_wrapper .payment_details .bank {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.modal_content_wrapper .payment_details .bank p:first-child {
  color: #929191;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.modal_content_wrapper .payment_details .bank p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 700;
  color: #EA872D;
}
.modal_content_wrapper .payment_details .bank p:last-child {
  color: #929191;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.modal_content_wrapper .amount_contain {
  margin-top: 2rem;
}/*# sourceMappingURL=style.css.map */