.balance{
    height: fit-content;
    width: 36.6rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .mainBalance{
        position: relative;
        height: 22.8rem;
        background-color: #FFE7D6;
        border-radius: 8px;
        display: flex;

        .left{
            margin: 3rem;
            display: flex;
            flex-direction: column;
            align-content: space-around;

        h2{
            font-size:3.2rem;
            font-weight: normal;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }

        p{
            font-size: 1.6rem;
        }

    }

    .right{
        position: absolute;
        margin-top: 63.6%;
        right: 9.56%;
        left: 79.23%;
        bottom: 14.04%;
     }   

    }

    .details{
        display: flex;
        margin-top: 3rem;
        width: 100%;
        justify-content: space-between;

        .withdrawn , .pending {
            display: flex;
            background-color: #F0F0F0;
            border-radius: 0.8rem;
            padding: 1rem 2rem;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.9rem;
                color: #929191;
            }

            h2 {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 19px;
                
                color: #212121;
                
            }

            .left{
               align-items: flex-start;
               display: flex;

               svg {
                width: 70%;
               }
                
                
             &.icon{   
                color:#DF4309;
             }
            }

            .right{
                align-items: start;
               display: flex;
               flex-direction: column; 
               text-align: flex-start;  
            }

        }


        // .pending{
        //     background-color: #F0F0F0;
        //     width: 175px;
        //     height: 60px;
        //     border-radius: 8px;
        //     margin-left: 10px;

        //     p, h2{
        //         font-size: 12px;
        //     } 

        //     .left, .right{
        //         margin: 10px;
        //     }
        
    }
}